<%= form_with model: session, url: session_path do |f| %>
	<%= render 'model_error', object: f.object %>

	<div>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>

	<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>

	<div>
		<%= f.submit %>
	</div>
<% end %>