<%= form_with model: user_registration_request do |f| %>
	<%= render 'model_error', object: f.object %>

	<div>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>

	<div>
		<%= f.submit %>
	</div>
<% end %>