<%= form_with model: user_registration_request do |f| %>
	<%= render 'model_error', object: f.object %>

  <div class="mb-3">
    <%= f.label :email, class: %[form-label] %>
    <%= f.email_field :email, class: %[form-control] %>
  </div>

  <%= f.submit class: %[btn btn-primary] %>
<% end %>