<%= form_with model: confirmation, url: user_registration_confirmation_path(user_registration), scope: :confirmation do |f| %>
	<%= render 'model_error', object: f.object %>

	<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>

	<div>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>

	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div>
		<%= f.submit %>
	</div>
<% end %>