<% if logged_in? %>
<p>
  ようこそ
  <%= current_user.name %>
  さん
</p>
<%= link_to t(".profile"), dashboard_profile_path %>
<%= link_to t(".sign_out"), session_path, data: { turbo_method: :delete } %>

<% else %>
<%= link_to 'Login', new_session_path, class: %i[btn btn-outline-primary me-2] %>
<%= link_to 'Sign-up', new_user_registration_request_path, class: %i[btn btn-primary] %>
<% end %>